### Tarea 3 - Pablo Gonzalez B.

#### Primer punto

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
class ClaseIterable:
    def __init__(self):
        self._index = 0
        self._df = pd.read_csv('Iris.csv')

    def __iter__(self):
        return self

    def __next__(self):
        if self._index < len(self._df) - 1:
            result = self._df.iloc[self._index:(self._index+2)]
            self._index += 2
            return result

        raise StopIteration

In [3]:
data = ClaseIterable()

In [4]:
next(data)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [5]:
next(data)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa

In [6]:
next(data)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa